* {
    font-family: 'Robot', sans-serif
}


.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 100px 0;
    padding-top: 20px;
    padding-bottom: 100px;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100;
}


.logo {
    font-size: 24px;
    color: #F9FAF8;
}



.header-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.header-links a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content {
    display: flex;
    justify-content: center;
    gap: 0 20em;
}

.content-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 460px;
}
.hero-content .title {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-content .info{
    font-size: 18px;
    color: #E5E7EB;
}

.content-text button {
    font-size: 17px;
    font-weight: 900;
    max-width: 120px;
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}


.content-image img {
    height: 260px;
    width: 500px;
}

.container img {
    width: 150px;
    height: 150px;
}

.information {
    text-align: center;
}

.information-title {
    margin: 40px;
    font-size: 36px;
    font-weight: bolder;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 40px;
}

.photo-info {
    max-width: 150px;
}

.photo-info img {
    border-radius: 10px;
}

.quote-section {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.texts{
    max-width: 880px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: light;
}

.cite {
   align-self: flex-end;
}


.call-to-action {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#call-header {
    font-size: 40px;
}

.sign-up {
    background-color: #3882F6;
    width: 900px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    color: #E5E7EB;
}

.sign-up-text .call-header{
    font-size: 20px;
    font-weight: 900;
    color: #F9FAF8

}


.sign-up-button {
    align-self: center;
    border-color: white;

}

.sign-up-button button{
    font-size: 17px;
    font-weight: 900;
    width:150px;
    max-width: 150px;
    color: #F9FAF8;
    background-color: #3882F6;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
